	 <!DOCTYPE html>
<html>
  <head>
    <title>Donutshop</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
     <script src = "javascripts/index.js"></script>
  </head>
  <body>

		      	 
	 
	 <h1> Customer DataTable </h1>
	 
	 <a href="/form">Insert Form</a>
	 <table>
	 <tr>
	 <td>id</td>
	 <td>orderby</td>
	 <td>order status</td>
	 </tr>
	  <%customerorders.forEach(function(item) { %> 
	 
	 <tr>
	 <td><%= item.id %></td>
	 <td><%=item.orderby %></td>
	 <td><%=item.orderstatus %></td>
	 <td>
	 <a href="/delete?id=<%= item.id %>" onClick="return confirm('Are you sure?')">Delete</a>
	 <a href="/edit?id=<%= item.id %>">Edit</a>
	 </td>
	 </tr>
	 <% }); %>
	 
	 </table>
	


	